<div class="left-side">
    <div class="container">
        <div class="sidenav">
            <ul>
                <li>
                    <a routerLink="/horoscope">राशिफल</a>
                </li>
                <li>
                    <a routerLink="/kundli">जन्म कुंडली</a>
                </li>
                <li>
                    <a routerLink="/">अंक ज्योतिष</a>
                </li>
                <li>
                    <a routerLink="/">टैरो कार्ड</a>
                </li>
                <li>
                    <a routerLink="/kundli-matching">कुंडली मिलाएं</a>
                </li>
                <li>
                    <a routerLink="/">एस्ट्रो न्यूज़</a>
                </li>
            </ul>
        </div>
    </div>
</div>