<!-- payment part -->
<section class="payment_area bg-light py-4" id="footer-bottom">
    <div class="container center_payment">
        <div class="row">
                <div class="col-6 col-md-3 text-center">
                    <div class="mb-2">
                        <i class="fas fa-shield-alt fa-2x"></i>
                    </div>
                    <p class="h5 mb-0">100% Authentic</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div class="mb-2">
                        <i class="fas fa-credit-card fa-2x"></i>
                    </div>
                    <p class="h5 mb-0">Payment Protection</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div class="mb-2">
                        <i class="fas fa-lock fa-2x"></i>
                    </div>
                    <p class="h5 mb-0">Privacy Protection</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div class="mb-2">
                        <i class="fas fa-envelope-open fa-2x"></i>
                    </div>
                    <p class="h5 mb-0">Help &amp; Support</p>
                </div>
        </div>
    </div>
</section>
<footer class="py-3  bg-dark">

        <div class="container ">
            <div class="row py-5">
                <div class="col-md-6 col-lg-4">
                    <img src="../../../assets/images/logo1.png" width="150px">
                    <p class="pt-3 text-secondary">
                        Donec id elit non mi porta gravida at eget metus. Donec id elit non Vestibulum id ligula porta felis euism od semper. Nulla vitae elit libero
                    </p>
                    <a class="text-purpel">Read More...</a>
                    <div class="social-icon pt-4">
                        <ul class="nav">
                            <a class="nav-link rounded-circle"><i class="fab fa-facebook-f"></i></a>
                            <a class="nav-link rounded-circle"><i class="fab fa-twitter"></i></a>
                            <a class="nav-link rounded-circle"><i class="fab fa-youtube"></i></a>
                            <a class="nav-link rounded-circle"><i class="fab fa-linkedin-in"></i></a>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <h3 class="fw-bold text-white">NEED OUR HELP</h3>
                    <p class="text-secondary">
                        Need help with designing your brand new website or you have any idea and thinking of getting it’s branding done then get a FREE quote today.
                    </p>
                    <a class="btn bg-purpel btn-sm px-3 text-white shadow mt-3 rounded-pill">Enquery Form</a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h3 class="fw-bold text-white">CONTACT US TODAY</h3>
                    
                        <div class="d-flex text-secondary">
                            <div class="border p-2 me-3 text-purpel contact-icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                             <p>Gotham Hall, 1356 Brodway squore,
                             NY 10018, California, USA</p>
                        </div>
                        <div class="d-flex text-secondary">
                            <div class="border p-2 me-3 text-purpel contact-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                             <p>
                                 <a>astrology@example.com</a>
                                 <br>
                                 <a>astro@example.com</a>
                             </p> 
                            </div> 
                        <div class="d-flex text-secondary">
                            <div class="border p-2 me-3 text-purpel contact-icon">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                             <p>
                                 <a>+ (91) 999 9999 999</a>
                                 <br>
                                 <a>+ (91) 1800-326-324</a>
                             </p>
                        </div>
                    
                </div>
            </div>
            <hr>
            <div class="copyright text-secondary">© 2019-20 myjyotish.com</div>
        </div>

</footer>