<section class="inner-banner py-5">
    <div class="container">
        <h1 class="fs-3 fw-bold text-white">Blog Details</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-white">Home</a></li>
            <li class="breadcrumb-item"><a class="text-white">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kundli Blog</li>
            </ol>
        </nav>
    </div>
</section>

<section class="py-5">
    <div class="container p-4 py-lg-5">
        <div class="row">
            <div class="col-md-9">
                <div class="w-100 blog-details pe-5">
                    <div class="blog-img position-relative mb-4">
                        <img src="../../../assets/images/blog3.jpg" class="rounded shadow" width="100%" height="350px">
                        <span class="as-btn btn btn-warning rounded-pill text-white px-3 btn-sm position-absolute bottom-0 end-0">July 29, 2020</span>
                    </div>
                    <div class="card-body">
                            <p class=" h6 fw-600">
                                <i class="fas fa-user-edit"></i> 
                                    By - Admin
                            </p>
                        <h2 class="fs-4 fw-bold">How to Choose the Astrologer</h2>
                        <p>
                            Mauris et sagittis eros. Maecenas eu ex egestas turpis mollis tempus eu a augue. Quisque eleifend vel tortor et elementum. Praesent et sagittis ligula. Duis vel tincidunt libero. Cras maximus eros non quam convallis consectetur. Proin sed dignissim dolor. Aliquam interdum, tortor a viverra convallis, mi nisl congue lacus, dictum aliquam nisl neque vitae magna. In pharetra nulla a iaculis suscipit. Aliquam eget massa augue.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 bg-light shadow pt-3">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action bg-purpel text-white h5 mb-0" aria-current="true">
                        Blog Categories
                    </a>
                    <a class="list-group-item list-group-item-action">A second link item</a>
                    <a class="list-group-item list-group-item-action">A third link item</a>
                    <a class="list-group-item list-group-item-action">A fourth link item</a>
                    <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
                  </div>
            </div>
        </div>
    </div>
</section>