<section class="w-100">


    <div id="carouselExampleCaptions" class="carousel slide banner-bottom" data-bs-ride="carousel" data-bs-touch="false" data-bs-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/bg1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row">
                        <div class="col-6 align-self-center text-start">
                            <h5 class="fs-5">Trust our experience</h5>
                            <h1 class="fs-1 lh-sm pe-3">Start control of your professional destiny</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                        </div>
                        <div class="col-6 position-relative">
                            <div class="w-100">
                                <img src="../../../assets/images/hand_bg.png" class="hand_bg w-100">
                            </div>
                            <div class="position-absolute hand-position">
                                <img src="../../../assets/images/hand.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/bg2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row">
                        <div class="col-6 align-self-center text-start">
                            <h5 class="fs-5">Trust our experience</h5>
                            <h1 class="fs-1 lh-sm pe-3">Start control of your professional destiny</h1>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                        </div>
                        <div class="col-6 position-relative">
                            <div class="w-100">
                                <img src="../../../assets/images/hand_bg.png" class="hand_bg w-100">
                            </div>
                            <div class="position-absolute hand-position">
                                <img src="../../../assets/images/hand.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="banner-footer ">
        <img src="../../../assets/images/shape2.png" class="w-100">
    </div>
</section>

<section class="about pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto heading text-center">
                <h3 class="fs-3 fw-bold">
                    About Astrology
                </h3>
                <span>&nbsp;</span>
                <p class="pt-3 lh-lg text-secondary">
                    ज्योतिष इस धारणा के आधार पर सांसारिक घटनाओं की भविष्यवाणी करने की एक विधि है कि आकाशीय पिंड-विशेष रूप से ग्रहों और सितारों को उनके मनमाने संयोजन या विन्यास (नक्षत्र कहा जाता है) में माना जाता है - किसी तरह से या तो सबलुनर दुनिया में परिवर्तन निर्धारित
                    या इंगित करते हैं।
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-7 align-self-center">
                <h3 class="fs-3 fw-bold">हम क्या करते हैं ?</h3>
                <p class="lh-lg">
                    फलित ज्योतिष उस विद्या को कहते हैं जिसमें मनुष्य तथा पृथ्वी पर, ग्रहों और तारों के शुभ तथा अशुभ प्रभावों का अध्ययन किया जाता है। ज्योतिष शब्द का यौगिक अर्थ ग्रह तथा नक्षत्रों से संबंध (सिद्धांत) ज्योतिष का भी बोध होता है, तथापि साधारण लोग ज्योतिष विद्या
                    से फलित विद्या का अर्थ ही लेते हैं।
                </p>
            </div>
            <div class="col-md-4 col-lg-5 text-center">
                <img src="../../../assets/images/hand_bg1.png" class="hand_bg hand-bg1">
            </div>
        </div>
    </div>
</section>


<section class="Horoscope py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 m-auto heading text-center">
                <h3 class="fs-3 fw-bold">
                    Horoscope Forecasts
                </h3>
                <span>&nbsp;</span>
                <p class="pt-3 lh-lg text-secondary">
                    कुंडली की परिभाषा एक विशिष्ट समय पर सितारों और ग्रहों की स्थिति के आधार पर एक दिन, सप्ताह, महीने या वर्ष के लिए एक ज्योतिषीय पूर्वानुमान है।
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h1.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Aries</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h2.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Taurus</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h3.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Gemini</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h4.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Cancer</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h5.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Leo</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h6.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Virgo</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h7.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Libra</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h8.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Scorpio</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h9.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Saggitarius</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h10.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Capricorn</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h11.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Aquarius</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <div class="w-100 Horoscope-img text-center">
                    <img src="../../../assets/images/h12.png" class="w-100 px-4">
                    <p class="fw-600 font-family-Philosopher fs-5"> Pisces</p>
                </div>
            </div>

        </div>
    </div>


    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8 m-auto heading text-center">
                <h3 class="fs-3 fw-bold">
                    ज्योतिष सेवाएं ( Astrology Services )
                </h3>
                <span>&nbsp;</span>
                <p class="pt-3 lh-lg text-secondary">
                    ज्योतिष एक विज्ञान है, जिसे ज्योतिष शास्त्र या ज्योतिष विज्ञान के नाम से जाना जाता है। यह वेदों के छह अंगों शिक्षा, कल्प, व्याकरण, ज्योतिष, छन्द और निरूक्त में से एक है। ज्योतिष विज्ञान में ग्रहों और नक्षत्रों का अध्ययन कर भविष्य में होने वाली घटनाओं
                    का अध्ययन किया जाता है। मनुष्यों के कल्याण के लिए ज्योतिष शास्त्र की महत्वपूर्ण भूमिका है।
                </p>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service1.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Vastu Shastra</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service2.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Manglik Dosha</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service3.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Kundli Dosh</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service4.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Birth Journal</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="py-5 blog about">
    <div class="container py-5">

        <div class="row mb-5">
            <div class="col-lg-8 m-auto heading text-center">
                <h3 class="fs-3  fw-bold">
                    Our Blogs
                </h3>
                <span>&nbsp;</span>
            </div>
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let post of blogData">
                <ng-template carouselSlide id="slide.id">
                    <div class="card mx-3 shadow-sm">
                        <div class="card-image ">
                            <img [src]="imgUrl+post.img" class="shadow">
                        </div>
                        <div class="content-blog p-3">
                            <a class=" text-start text-dark">
                                <h4 class="fs-5 fw-bold">{{post.title}}</h4>
                            </a>
                            <p>
                                {{post.description | slice:0:100}} </p>
                            <div class="d-flex justify-content-between">
                                <div class="align-self-center"><i class="far fa-clock"></i>{{post.create_at}}</div>
                                <a class="btn bg-purpel btn-sm rounded-pill text-white">Read more...</a>
                            </div>
                        </div>
                    </div>

                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>

<!-- rashi information -->
<!-- <div class="container">
    <div class="container mb-5">
        <hr style="border-top: 1px solid #777;">
        <div class="faq">
            <h3>frequently asked question</h3>
        </div>
        <div class="rashi-title">
            <h2>राशिफल क्या होता है?</h2>
        </div>
        <div class="rashi-info">
            <p>
                किसी भी राशि के लिए ग्रह-नक्षत्रों की चाल से मिलने वाला शुभ-अशुभ फल राशिफल कहलाता है। यह दैनिक, साप्ताहिक, पाक्षिक, मासिक या फिर वार्षिक रूप में होता है। राशिफल के माध्यम से व्यक्ति अपने भविष्य की घटनाओं का अनुमान लगा सकता है।
            </p>
        </div>Welcome#@!123
        Hodbsib@
        <div class="rashi-title">
            <h2>दैनिक राशिफल</h2>
        </div>
        <div class="rashi-info">
            <p>
                दैनिक राशिफल या आज का राशिफल, दैनिक भविष्यवाणी होती है और यह भविष्यवाणी चंद्र ग्रह की गणना पर आधारित होती है। क्योंकि चंद्रमा का राशि परिवर्तन एक-दो दिनों के भीतर होता है। दैनिक राशिफल सबसे लोकप्रिय राशिफल है। इसकी लोकप्रियता का अंदाजा इस बात से लगाया
                जा सकता है कि अखबारों में सबसे ज्यादा पढ़ा जाने वाला दैनिक राशिफल होता है।
            </p>
        </div>
        <div class="rashi-title">
            <h2>ज्योतिष क्या है?</h2>
        </div>
        <div class="rashi-info">
            <p>
                ज्योतिष एक विज्ञान है, जिसे ज्योतिष शास्त्र या ज्योतिष विज्ञान के नाम से जाना जाता है। यह वेदों के छह अंगों शिक्षा, कल्प, व्याकरण, ज्योतिष, छन्द और निरूक्त में से एक है। ज्योतिष विज्ञान में ग्रहों और नक्षत्रों का अध्ययन कर भविष्य में होने वाली घटनाओं
                का अध्ययन किया जाता है। मनुष्यों के कल्याण के लिए ज्योतिष शास्त्र की महत्वपूर्ण भूमिका है।
            </p>
        </div>
        <div class="rashi-title">
            <h2>राशि क्या है?</h2>
        </div>
        <div class="rashi-info">
            <p>
                ज्योतिष विज्ञान के अनुसार, आकाश मंडल में एक कल्पित राशिचक्र हैं, जिसमें 12 राशियां (मेष, वृष, मिथुन, कर्क, सिंह, कन्या, तुला, वृश्चिक, धनु, मकर, कुंभ, मीन) हैं। इन 12 राशियों के अपने स्वभाव, गुण एवं दोष होते हैं। किसी व्यक्ति की लग्न राशि, चंद्र राशि,
                सूर्य राशि, नाम राशि हो सकती है। जन्म कुंडली में जो राशि पहले भाव में होती है उसे लग्न राशि कहते हैं। वहीं जिस राशि सूर्य बैठा हो वह सूर्य राशि और इसी प्रकार चंद्रमा जिस भी राशि में स्थित हो वह चंद्र राशि कहलाती है। नाम के पहले अक्षर से
                निकलने वाली राशि नाम राशि होती है।
            </p>
        </div>
        <div class="rashi-title">
            <h2>कुंडली मिलान क्या है?</h2>
        </div>
        <div class="rashi-info">
            <p>
                कुंडली मिलान एक ज्योतिषीय प्रक्रिया है, जिसे वर-कन्या के विवाह से पूर्व किया जाता है। इसमें वर-वधु की कुंडली के बीच की सामंजस्यता को देखा जाता है। कुंडलियों को देखकर दोनों के बीच 36 गुणों को मिलाया जाता है। यदि दोनों के बीच 36 में से 18 या इससे अधिक गुण
                मिल जाते हैं तो ही दोनों के बीच विवाह का विचार किया जाता है और उसे सफल माना जाता है।
            </p>
        </div>

    </div>
</div> -->