<section class="inner-banner py-5">
    <div class="container">
        <h1 class="fs-3 fw-bold text-white">Services</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-purpel">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Our Services</li>
            </ol>
        </nav>
    </div>
</section>

<section class="py-5">
    <div class="container p-4 py-lg-5">
        <div class="row">
            <div class="col-lg-8 m-auto heading text-center">
                <h3 class="fs-3 fw-bold">
                    ज्योतिष सेवाएं ( Astrology Services )
                </h3>
                <span>&nbsp;</span>
                <p class="pt-3 lh-lg text-secondary">
                    ज्योतिष एक विज्ञान है, जिसे ज्योतिष शास्त्र या ज्योतिष विज्ञान के नाम से जाना जाता है। यह वेदों के छह अंगों शिक्षा, कल्प, व्याकरण, ज्योतिष, छन्द और निरूक्त में से एक है। ज्योतिष विज्ञान में ग्रहों और नक्षत्रों का अध्ययन कर भविष्य में होने वाली घटनाओं का अध्ययन किया जाता है। मनुष्यों के कल्याण के लिए ज्योतिष शास्त्र की महत्वपूर्ण भूमिका है।
                </p>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service1.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Vastu Shastra</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service2.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Manglik Dosha</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service3.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Kundli Dosh</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 text-center">
                <div class="card text-center shadow">
                    <div class="service-image p-4">
                        <img src="../../../assets/images/service4.svg">
                    </div>
                    <div class="card-body pt-2">
                        <h4 class="fs-5 fw-bold">Birth Journal</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>