<section class="inner-banner py-5">
    <div class="container">
        <h1 class="fs-3 fw-bold text-white">Contact </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-purpel">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Need Help Contact Us</li>
            </ol>
        </nav>
    </div>
</section>

<section class="py-5">
    <div class="container py-lg-5">
        <div class="row pb-5">
            <div class="col-md-4 text-center border-end">
                <div class="text-secondary px-5">
                    <div class="">
                        <i class="fas fa-map-marker-alt text-purpel border border-3 contact-icon fa-2x shadow-sm rounded-circle"></i>
                    </div>
                     <p class="h6 pt-3 lh-base fw-600">Gotham Hall, 1356 Brodway squore,
                     NY 10018, California, USA</p>
                </div>
            </div>
            <div class="col-md-4 text-center border-end">
                <div class="text-secondary px-5">
                    <div class="">
                        <i class="fas fa-envelope text-purpel border border-3 contact-icon fa-2x shadow-sm rounded-circle"></i>
                    </div>
                    <p class="h6 pt-3 lh-base fw-600">
                        <a>astrology@example.com</a>
                        <br>
                        <a>astro@example.com</a>
                     </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="text-secondary px-5">
                    <div class="">
                        <i class="fas fa-phone-alt text-purpel border border-3 contact-icon fa-2x shadow-sm rounded-circle"></i>
                    </div>
                     <p class="h6 pt-3 lh-base fw-600">
                        <a>+ (91) 999 9999 999</a>
                         <br>
                         <a>+ (91) 1800-326-324</a>
                     </p>
                </div>
            </div> 
        </div>

        <div class="row pt-5">
            <div class="col-5 align-self-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13826.137641143583!2d77.53735226739292!3d29.964068081911797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390eea916a93e001%3A0x37ec58773d6e67ab!2sGhanta%20Ghar%2C%20SH%2057%2C%20Bijopuri%2C%20Saharanpur%2C%20Uttar%20Pradesh%20247001!5e0!3m2!1sen!2sin!4v1647420823684!5m2!1sen!2sin" width="100%" height="450" class="rounded shadow-sm "  allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-7">
                <form class="p-5 card shadow">
                    <h2 class="fs-4 fw-bold">Have A Question?</h2>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Name</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-label class="mb-2">Gender</mat-label>
                            <br>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1" class="me-4">Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label>Address</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                              </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label>Message</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="w-100 text-center py-3">
                        <button class="btn btn-sm bg-purpel px-3 rounded-pill text-white">
                                Send
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
