<section class="inner-banner py-5">
    <div class="container">
        <h1 class="fs-3 fw-bold text-white">About</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-purpel">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Astrology</li>
            </ol>
        </nav>
    </div>
</section>

<section class="about py-5">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-md-4 col-lg-5 text-center">
                <div class="about-img">
                    <img src="../../../assets/images/blog3.jpg" class="hand_bg hand-bg1 w-100">
                </div>
            </div>
            <div class="col-md-8 col-lg-7 heading align-self-center px-lg-5">
                <h2 class="fs-3 fw-bold">
                    Know About Astrology
                </h2>
                <span class="ms-4">&nbsp;</span>
                <p class="pt-3 lh-lg text-secondary">
                    ज्योतिष इस धारणा के आधार पर सांसारिक घटनाओं की भविष्यवाणी करने की एक विधि है कि आकाशीय पिंड-विशेष रूप से ग्रहों और सितारों को उनके मनमाने संयोजन या विन्यास (नक्षत्र कहा जाता है) में माना जाता है - किसी तरह से या तो सबलुनर दुनिया में परिवर्तन निर्धारित या इंगित करते हैं।
                </p>
                <h3 class="fs-5 fw-bold">हम क्या करते हैं ?</h3>
                <p class="lh-lg">
                    फलित ज्योतिष उस विद्या को कहते हैं जिसमें मनुष्य तथा पृथ्वी पर, ग्रहों और तारों के शुभ तथा अशुभ प्रभावों का अध्ययन किया जाता है। ज्योतिष शब्द का यौगिक अर्थ ग्रह तथा नक्षत्रों से संबंध (सिद्धांत) ज्योतिष का भी बोध होता है, तथापि साधारण लोग ज्योतिष विद्या से फलित विद्या का अर्थ ही लेते हैं।
                </p>
            </div>
            
        </div>
    </div>
</section>